@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    background-color: #252b31;
}

.navbar {

  text-align: center;
}

h1 {
  color: #f1a50e;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a  {  
  color: #f1a50e !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a .linkx {
  color: #76edf5d2;
}

a .linkx:hover {
  text-decoration: underline;
}

.pradio {
  text-align: center;
}


.pradio input[type="radio"] {
  display: none;
}


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.textareaWrap {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

textarea#texto {
  background-color: #252e31;
  border: solid;
  border-width: 1px;
  border-color: rgb(41, 92, 92);
  color: antiquewhite;
  padding: 1.3em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 87%;
}

#pre1 {
  background-color: #252e31;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;
    padding-left: 1.3em;
    border: solid;
    border-width: 1px;
    border-color: rgb(41, 92, 92);
    padding: 1.3em;
}

.dot {
  color: #252b31;
}


.textoInst {
    color: antiquewhite;
    padding: 1.3em;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    line-height: 1.6;
    text-align: justify;
}


.textoInst {
    color: antiquewhite;
    padding: 1.3em;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}


.hide {
display: none ;

}


  

  
  
  .vdev  { color: #cc33ff}
  .vdevi { color: #cc33ff}
  .vdeiv { color: #cc33ff}
  .vdeii { color: #cc33ff}
  .bvi  { color: rgba(245, 66, 12, 0.733) }
  .bvii  { color: rgba(245, 66, 12, 0.733) }
  .biii  { color: rgba(245, 66, 12, 0.733) }
  .vmin  { color: rgba(245, 66, 12, 0.733) }
  .vimin  { color: rgba(245, 66, 12, 0.733) }
  .punto  { color: black }

  .magentaDom{
    color: #cc33ff !important;
  }

  .rojo {
    color: rgba(245, 66, 12, 0.733) !important;
  }


  label {
    background-color: #252e31;
    border: solid;
    border-width: 1px;
    border-color: rgb(41, 92, 92);
    color: antiquewhite;
    padding: 5px;
    border-radius: 1%;
    border-radius: 3px;
  }

